.App {
  text-align: center;
  background-color: rgb(82, 11, 73);
  margin-left: 20rem;
  width: 50%;
  min-height: 100%;
  color: #27bde2;
}

.Todo_App {
  text-align: center;
  margin-left: 20rem;
  width: 50%;
}
